## OS X
.DS_Store

## Eclipse IDE
bin/
temp/
.metadata
*.temp
.settings/
local.properties

## Intellij IDE
.idea
out/

## NetBeans
build/
nbbuild/
dist/
nbproject/

## General Files 
*.class
*.jar
*.war
*.log
/target/
hs_err_pid*
.project
.classpath
.impl